*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* Header.css */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

body {
    padding-top: 55px; /* igual a la altura de tu header */
}
.header_container{
    display: flex;
    background-color: #64d135;
    align-items: center;
    justify-content: flex-start;
}
.logo{
    margin: 0.2em 0.4em;
    color: #2B3674;
    font-size: 2em;
    font-weight: 600;
}
.logo a {
    text-decoration: none !important;
    color: #2B3674 !important;
}

